*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color:black;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;

    background: black;
    color: rgb(255, 255, 255);
}

.left{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo{
    height: 40px;
}

#logout{
    background: #fc7a00;
    border:none;
    padding:8px 15px;
    border-radius:6px;
    color:white;
    cursor:pointer;
    transition:0.3s;
}

#logout:hover{
    opacity:0.8;
}

.hero {
    max-width: 1100px;
    margin: 60px auto;
    padding: 60px;

    border-radius: 20px;

    display: flex;
    align-items: center;

    /* IMAGEM + OVERLAY ESCURO */
    background: 
        linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0.2)),
        url('./images/gato-1.png') center/cover no-repeat;

    color: white;
}

.hero-content {
    max-width: 500px;
}

.badge {
    font-size: 14px;
    color: white;
    display: block;
    margin-bottom: 10px;
}

.hero h1 {
    font-size: 42px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 15px;
}

.hero p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.btn {
    background: #fc7a00;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}

.btn:hover {
    opacity: 0.8;
}




@media (max-width: 768px) {
    .hero {
        margin: 20px;
        padding: 30px 20px;

        /* muda o degradê pra ficar melhor no mobile */
        background: 
            linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0.3)),
            url('./images/gato-1.png') center/cover no-repeat;
    }

    .hero h1 {
        font-size: 28px;
    }

    .hero p {
        font-size: 14px;
    }
}