*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;

    background: black;
    color: rgb(255, 255, 255);
}

.left{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo{
    height: 40px;
}

#logout{
    background: #fc7a00;
    border:none;
    padding:8px 15px;
    border-radius:6px;
    color:white;
    cursor:pointer;
    transition:0.3s;
}

#logout:hover{
    opacity:0.8;
}

.hero{
    background: #fc7a00;
    color:white;

    padding:60px 20px;

    display:flex;
    justify-content:center;
    align-items:center;

    gap:30px;
    flex-wrap: wrap;
}

.hero-text{

    flex: 1;
    min-width: 280px;
    max-width: 600px;

}


.hero h1{
    font-size:clamp(48px, 5vw, 42px);
    font-weight:700;
    line-height:1.2;
    font-family: 'Dancing Script', cursive;
    text-align: center;
}

.hero p{
    font-size: 20px;
    max-width: 600px;
    line-height: 1.5;
    margin-top: 0.5rem;

}


