*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*BODY*/
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;

    background: linear-gradient(135deg, #ff6a00, #ff8c42);
   
}

/*CONTAINER*/

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

/*CARD*/

.card{
    width: 100%;
    max-width: 380px;
    padding: 30px;

    background: #c2bdbd;
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    gap: 20px;

        box-shadow: 
        0 10px 30px rgba(0,0,0,0.2),
        0 2px 8px rgba(0,0,0,0.1);

    backdrop-filter: blur(10px);
}

.card h2{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size:clamp(48px, 5vw, 42px);
}

/*Formulario*/

.form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form input{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background: #e9eef5;

    outline: none;
    transition: 0.3s;
}

.form input:focus{
    background: #fff;
    box-shadow: 0 0 0 2px #ff6a00;
}

.form button{
    padding: 10px;
    border: none;
    border-radius: 8px;

    background: #fc7a00;
    color: white;

    font-weight: bold;
    cursor: pointer;
}

.forgot-password{
    text-align: right;
    font-size: 14px;
}

.forgot-password a{
    color: #fc7a00;
    text-decoration: none;
    transition: 0.3s;
}

.forgot-password a:hover{
    text-decoration: underline;
}


/*Já possui login/cadastro*/
.tabs{
    text-align:center;
    margin-top:10px;
}

.login-link{
    color:#fc7a00;
    text-decoration:none;
    font-weight:600;
    transition:0.3s;
    padding:2px 4px;
}

.login-link:hover{
    text-decoration:underline;
}